#q2,
#q3,
#q4,
#v1b,
#v1c,
#v2b,
#v2c,
#v3b,
#v3c,
#v4s,
#vfinal,
.subheader,
.validate {
    display: none
}

.photo {
  
    display: block;
    width: 48px;
    height: 48px;
    top: 10px;
    left: 10px;
    background: url(../img/profiles.jpg) no-repeat #d8dce6
}
.prize table {
    margin: 0 auto
}

.contestwrap table,
.header table,
.subheader table,
td,
tr {
    border-collapse: collapse
}

.answer,
.pbox h2,
.prize h2,
.prize h3,
.prizebtn,
.select2 {
    font-weight: 300
}

.answer,
.question {
    text-align: center
}

.answer,
.pbox {
    cursor: pointer
}

#szlider,
.pbox {
    overflow: hidden
}

html {
    font-family: sans-serif;
    font-color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    background: #f7f7f7;
    min-width: 320px;
    color: #000
}

a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
span,
ul {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #4485f6
}

h3 {
    color: #212121
}

p {
    color: #737373
}

.header {
    z-index: 9999;
    display: block;
    padding-top: 10px;
    width: 100%;
    height: 62px;
    background-color: #f10e0e;
}

.wrapper {
    max-width: 800px;
    width: 96%;
    margin: 0 auto;
    text-align: center
}

.contestwrap,
.form_questions {
    background-color: #fff
}

.subheader {
    background: rgba(0, 0, 0, .03);
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.contestwrap,
.form_questions,
.pbox,
.reviews,
.validate {
    border-bottom: 1px solid #e5e5e5
}

.subheader table,
td,
tr {
    padding: 8px 0 4px
}

.subheader td {
    valign: middle
}

.spacer {
    height: 20px
}

.contestwrap {
    box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 10px 0 4px;
    border-radius: 3px
}

.contestwrap,
.form_questions {
    -webkit-box-shadow: 0 0 2px 2px #d2d2d2;
    -moz-box-shadow: 0 0 2px 2px #d2d2d2
}

.toptext {
    color: #212121;
    font-size: small
}

.contestwrap p {
    color: #776161;
    font-size: small
}

.select2 {
    color: #737373;
    font-size: small;
    padding: 8px 0 4px
}

.form_questions {
    box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 10px 0 30px;
    border-radius: 3px
}

.answer {
    padding: 10px 5px;
    width: 80%;
    display: inline-block;
    margin: 5px;
    font-size: medium;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #fcf3dc;
    -moz-box-shadow: inset 0 1px 0 0 #fcf3dc;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    background: #f3ce72;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFF8E3AD', endColorstr='#FFEEBA37', GradientType=0);
    background: linear-gradient(to bottom, #f8e3ad, #eeba37);
    background: -moz-linear-gradient(top, #f8e3ad, #eeba37);
    background: -webkit-linear-gradient(top, #f8e3ad, #eeba37);
    background: -o-linear-gradient(top, #f8e3ad, #eeba37);
    background: -ms-linear-gradient(top, #f8e3ad, #eeba37);
    color: #111
}

.pbox,
.validate {
    border-radius: 3px
}

.pbox h2,
.pbox img,
.pbox p,
.prizebtn {
    display: block
}

.question {
    padding-top: 20px
}

.validate {
    width: 100%;
    background-color: #fff;
    -moz-box-shadow: 0 0 2px 2px #d2d2d2;
    -webkit-box-shadow: 0 0 2px 2px #d2d2d2;
    box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 0
}

#szlider {
    width: 100%;
    height: 4px;
    background: #efefef
}

#szliderbar {
    width: 0;
    height: 4px;
    background: #fc9a18
}

#szazalek {
    color: #313c45;
    font-size: small
}

.prize {
    width: 100%
}

.pbox {
    background-color: #fff;
    box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 10px 6px;
    position: relative
}

.pbox,
.reviews {
    -webkit-box-shadow: 0 0 2px 2px #d2d2d2;
    -moz-box-shadow: 0 0 2px 2px #d2d2d2
}

.pbox img {
    width: 170px;
    margin-left: auto;
    margin-right: auto
}

.pbox h2,
.pbox p {
    margin: 6px 6px 0
}

.pbox h2 {
    font-size: xlarge;
    text-align: left
}

.pbox p {
    font-size: small;
    text-align: left
}

.pbox td,
.prize h3,
.prizebtn {
    text-align: center
}

.button {
    position: relative;
    top: 10px;
    border: 1px solid;
    padding: 10px 35px;
    font-size: .9em;
    color: #fff;
    background: #60bb55;
    /*background: -webkit-linear-gradient(top, #f5d78e, #eeb933);
    background: linear-gradient(to bottom, #f5d78e, #eeb933);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.prize h3 {
    font-size: 1.5em;
    padding: 5px 0
}

.prize h2 {
    font-size: 1.2em;
    text-align: left
}

.reviews {
    background-color: #fff;
    box-shadow: 0 0 2px 2px #d2d2d2;
    padding: 0;
    border-radius: 3px
}

hr {
    opacity: .2
}

.reviews .name {
    font-weight: 700;
    color: #333
}

.reviews .text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #555;
    font-style: italic
}

.reviews .date {
    padding-top: 5px;
    color: #888a89;
    font-size: 10px
}

.reviews table {
    font-size: small;
    padding: 0
}

.roundimg {
    border-radius: 50%;
    width: 50px
}

.reviews h2 {
    font-size: 1.2em;
    font-weight: 300;
    padding: 20px 0 5px
}

.reviews hr {
    opacity: 0
}

.commentpad {
    padding-left: 10px
}

.logo {
    position: absolute;
    display: block;
    left: 10px;
    width: 165px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    top: 5px;
    margin: 0;
}

.ricon1 {
    position: absolute;
    display: block;
    background-image: url(../img/icon-right.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 39px 28px;
    width: 39px;
    height: 28px;
    right: 10px;
    top: 25px
}

.tdprize {
    padding-left: 10px
}

.button1,
:focus {
    outline: 0
}

#pressButton,
.fbblue:hover {
    cursor: pointer
}

.spinAround,
.spinAround2 {
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal
}

._1g06,
.icons_likes {
    vertical-align: middle
}

#wheelCon,
.clearfix:after,
.header a.item,
.hide-all,
.item,
.sweet-alert {
    overflow: hidden
}

.sweet-alert,
.sweet-overlay {
/*    position: fixed;*/
    display: none
}

.comments1 u,
a,
pa.claim {
    text-decoration: none
}

.fbblue:hover,
.fblike:hover {
    text-decoration: underline
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden
}

.sweet-overlay {
    background-color: #000;
    -ms-filter: alpha(opacity=40);
    background-color: rgba(0, 0, 0, .4);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000
}

.sweet-alert {
    /*border: 2px solid #290101;
    background-color: #fff;*/
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 478px;
    padding: 17px;
/*    border-radius: 5px;*/
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -256px;
/*    margin-top: -150px;*/
    z-index: 9999
}

.sweet-alert h2,
.sweet-alert p {
    padding: 10px 0 0;
    position: relative
}

@media all and (max-width:540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px
    }
}

.sweet-alert h2 {
    color: #575757;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    margin: 25px 0;
    line-height: 30px;
    display: block
}

.sweet-alert p {
    color: #797979;
    font-size: 15px;
    font-weight: 300;
    text-align: inherit;
    float: none;
    margin: 0;
    line-height: normal
}

#subheadline,
#topDate,
.instructions,
a {
    text-align: center
}

.sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative
}

.la-ball-fall,
.visible {
    display: block
}

.sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden
}

.sweet-alert button {
    background-color: #e84242;
    color: #fff;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 10px 5px 0;
    cursor: pointer
}

.sweet-alert button:focus {
    outline: 0;
    box-shadow: 0 0 2px rgba(128, 179, 235, .5), inset 0 0 0 1px rgba(0, 0, 0, .05)
}

.sweet-alert button:hover {
    background-color: #7ecff4
}

.sweet-alert button:active {
    background-color: #5dc2f1
}

.sweet-alert button::-moz-focus-inner {
    border: 0
}

.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box
}

.sweet-alert .sa-icon.sa-success {
    border-color: #a5dc86
}

.sweet-alert .sa-icon.sa-success::after,
.sweet-alert .sa-icon.sa-success::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 120px;
    background: #fff
}

#pressButton,
#wheelCon {
    background-size: contain
}

.sweet-alert .sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px
}

.sweet-alert .sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 60px;
    transform-origin: 0 60px
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, .2);
    -webkit-border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2
}

.sweet-alert .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: #fff;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.sweet-alert .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2
}

#firstpage,
#wheelCon,
.btmComment,
.congrats,
.fbcoms,
.prize,
.timer {
    background-color: #fff
}

#devMockup,
#secondpage {
    display: none
}

#firstpage,
#wheelCon,
.btmComment,
.congrats,
.fbcoms,
.item,
.prize,
.timer {
    border-radius: 3px
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg)
}

#firstpage {
    margin-bottom: 80px;
    padding-top: 5px
}

#subheadline {
    font-weight: 400
}

.button1,
.green,
.item .lightblue2,
.item .track,
.like-count-line,
.name,
.#0511b4;,
.secondary span.lightblue {
    font-weight: 700
}

.date {
    font-size: .85em;
    color: #9c9c9c;
    margin: 2px 0
}

.fbcoms,
.smallfont {
    font-size: 12px
}

.fbblue,
.name {
    color: #3c5a96
}

.fbcoms,
.intro {
    margin-bottom: 5px
}

#topDate {
    width: 100%
}

#wheelCon {
    position: relative;
    background-position: center;
    background-repeat: no-repeat
}

#wheel {
    z-index: 1;
    width: 100%;
    height: auto;
    margin-top: 5px
}

#pressButton {
    position: absolute;
    background-image: url(../img/spin_prize2.png);
    width: 25%;
    height: 0;
    padding-top: 30.5%;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 110px
}

#devMockup {
    position: absolute;
    max-width: 40%;
    height: auto;
    z-index: 3
}

.fbcoms {
    font-family: Tahoma, Verdana, sans-serif;
    width: 100%;
    padding: 2px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.btmComment,
.button1,
.congrats,
.cta,
.header a.item,
.left,
.now,
.send-comments--submit_wrapper,
.txt {
    text-align: center
}

.item,
.send-comments--input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.likescom {
    padding: 5px
}

.topcomments {
    margin: 5px
}

.item {
    position: relative;
    min-height: 60px;
    box-sizing: border-box
}

.item .profileimg {
    position: absolute;
    top: 10px;
    left: 5px
}

.comtxt {
    line-height: 16px
}

.name {
    font-size: 100%
}

.ago {
    color: #86878c;
    font-size: .95em
}

.fblike,
.likes {
    color: #3c5a96;
    font-size: .95em;
    cursor: pointer
}

.button a,
.button1 a,
.comments__item__meta__item a,
.cta,
.track a,
a.button,
a.button1 {
    text-decoration: none
}

.combot {
    padding-top: 5px
}

.likes {
    padding-bottom: 3px
}

.fbimg {
    margin: 10px 0 5px
}

.availitem,
.prize {
    margin-bottom: 5px
}

.btmComment {
    padding: 10px
}

.timer {
    line-height: 1.5
}

.user {
    width: 40px;
    height: 40px
}

.user.user1 {
    background-position: 0 0
}

.user.user2 {
    background-position: -40px 0
}

.user.user3 {
    background-position: -80px 0
}

.user.user4 {
    background-position: -120px 0
}

.user.user5 {
    background-position: -160px 0
}

.user.user6 {
    background-position: 0 -40px
}

.user.user7 {
    background-position: -40px -40px
}

.user.user8 {
    background-position: -80px -40px
}

.user.user9 {
    background-position: -120px -40px
}

.user.user10 {
    background-position: -160px -40px
}

.proof {
    width: 200px
}

.proof.proof1 {
    background-position: 0 -80px;
    height: 266px
}

.proof.proof2 {
    background-position: 0 -346px;
    height: 150px
}

.proof.proof3 {
    background-position: 0 -496px;
    height: 141px
}

.proof.proof4 {
    background-position: 0 -638px;
    height: 200px
}

.availitem {
    width: 100px;
    height: 131px
}

.availitem.item1 {
    background-position: 0 -897px
}

.availitem.item2 {
    background-position: -100px -897px
}

.spinAround {
    -webkit-animation: spin 6.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    90% {
        -webkit-transform: rotate(3110deg);
        -ms-transform: rotate(3110deg);
        transform: rotate(3110deg)
    }
    95% {
        -webkit-transform: rotate(3108deg);
        -ms-transform: rotate(3108deg);
        transform: rotate(3108deg)
    }
    100% {
        -webkit-transform: rotate(3109deg);
        -ms-transform: rotate(3109deg);
        transform: rotate(3109deg)
    }
}

.spinAround2 {
    -webkit-animation: spin2 6.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(3109deg);
        -ms-transform: rotate(3109deg);
        transform: rotate(3109deg)
    }
    90% {
        -webkit-transform: rotate(6314deg);
        -ms-transform: rotate(6314deg);
        transform: rotate(6314deg)
    }
    95% {
        -webkit-transform: rotate(6312deg);
        -ms-transform: rotate(6312deg);
        transform: rotate(6312deg)
    }
    100% {
        -webkit-transform: rotate(6313deg);
        -ms-transform: rotate(6313deg);
        transform: rotate(6313deg)
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn
}

/*.transparent {
    opacity: .6;
    filter: alpha(opacity=60)
}*/

@media(min-width:614px) {
    #wheel {
        width: 27vw;
        left: 47vw;
        top: 27vw
    }
    #pressButton {
        width: 10%;
        top: 40%!important;
        background-repeat: no-repeat
    }
}

@media(max-width:1148px) {
    #pressButton {
        top: 30%!important
    }
}

body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: small
}

.item,
.toptext {
    background: #fff
}

.bounce {
    display: inline-block;
    -webkit-animation: a .6s ease infinite;
    animation: a .6s ease infinite;
    color: #ffa400
}

@-webkit-keyframes a {
    0%,
    to {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    80% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
}

@keyframes a {
    0%,
    to {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    80% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
}

@media(max-width:989px) {
    .container {
        width: 96%
    }
    .boxes {
        height: 184px
    }
}

@media(max-width:767px) {
    .boxes {
        height: 184px
    }
}

@media(max-width:480px) {
    .boxes {
        height: 90px
    }
}

.item {
    color: #1f2430;
    margin-bottom: 3px;
    padding: 2px;
    font-size: small
}

.contestwrap,
.secondary {
    margin-bottom: 5px
}

.item .track {
    font-size: small
}

.item .lightblue2 {
    color: #000;
    margin-top: 2px;
    font-size: 12px
}

.track a {
    color: #3b5998
}

.clear {
    clear: both
}

.item .img {
    float: left;
    border: 0 solid #666;
    padding: 1px
}

.toptext {
    min-height: 40px;
    color: #1e2330;
    font-size: 20px;
    padding: 8px;
    border-radius: 3px
}

.secondary {
    color: #1f2430;
    margin-top: 5px
}

.secondary span.lightblue {
    color: #1f2430;
    padding-right: 5px
}

.container {
    width: 95%
}

.button a {
    color: #000;
    font-size: small;
    cursor: hand
}

.rating {
    font-size: 12px
}

.button1 {
    width: 180px;
    display: block;
    padding: 0 8px;
    margin-top: 8px;
    background-color: #9f9f9f;
    border: 0 solid #666;
    color: #fff;
    border-radius: 1px;
    cursor: default;
    font-size: 20px;
    height: 33px;
    line-height: 33px
}

.button1 a {
    color: #ccc;
    font-size: small;
    cursor: hand
}

.#0511b4; {
    color: #fff
}

.green {
    color: #3C6
}

.select {
    background: #fff;
    margin: 3px 0 5px;
    color: #1f2430;
    font-size: small;
    line-height: 18px;
    padding: 5px;
    border-radius: 3px
}

.yellow {
    color: #3b5998
}

.left {
    float: left;
    width: 100px;
    margin-right: 5px;
    min-height: 60px
}

.right {
    float: left;
    width: 65%
}

.comments {
    background: #fff;
    margin: 0;
    padding: 0
}

.like-line-menu__item {
    display: inline-block;
    padding: 0 8px;
    position: relative;
    width: 27%;
    text-align: center
}

.icon_comment::before,
.icon_like::before,
.icon_likes_img,
.icon_share::before {
    background-size: auto;
    background-repeat: no-repeat;
    width: 16px
}

.action_like {
    cursor: pointer
}

.icon_comment::before,
.icon_like::before,
.icon_share::before {
    content: '';
    display: inline-block;
    height: 32px;
    margin-bottom: 1px;
    margin-right: 4px;
    vertical-align: middle
}

.icon_like::before {
    background-position: -136px -50px
}

.icon_comment::before {
    background-position: -119px -50px
}

.icon_share::before {
    background-position: -170px -50px
}

.like-line-menu__item::before {
    border-left: 1px solid #d6d8db;
    bottom: 7px;
    content: '';
    left: 0;
    position: absolute;
    top: 7px
}

.like-line-menu__item:first-child::before {
    display: none
}

._1g05,
.icon_likes_img,
.icons_likes,
.inner_like_count_line {
    display: inline-block
}

.like-line-menu__item,
.like-line-menu__item a {
    font-size: 12px;
    line-height: 36px;
    color: #5e5e5e;
    text-decoration: none;
    font-weight: 700
}

.like-count-line {
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px #dadde1 solid;
    color: #000
}

.icons_likes {
    line-height: 16px;
    height: 17px
}

._1g05:first-child {
    margin-left: 0
}

._1g05 {
    border-radius: 10px;
    margin-left: -6px;
    padding-right: 2px;
    padding-top: 1px;
    position: relative;
    background-color: #fff
}

.icon_likes_img {
    height: 16px
}

.like_1 {
    background-position: -136px -110px
}

.like_2 {
    background-position: -153px -110px
}

.like_3 {
    background-position: -238px -110px
}

._1g06 {
    display: inline;
    margin-left: 4px
}

.shares {
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    border: solid #dadde1;
    border-width: 0 0 1px
}

#countdown,
.cta,
.now2 {
    font-weight: 700
}

.send-comments {
    border-bottom: 1px #dadde1 solid;
    padding: 5px
}

.send-comments--input_wrapper {
    float: left;
    width: 100%;
    display: inline
}

.send-comments--input_inner {
    margin-right: 62px
}

.send-comments--input {
    width: 100%;
    resize: none;
    border: 1px solid #dcdee3;
    background: #FFF;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .07);
    padding: 8px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box
}

.send-comments--input:focus {
    height: 72px
}

.send-comments--submit_wrapper {
    width: 54px;
    margin-left: -54px;
    float: left;
    display: inline
}

.send-comments--submit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .155) rgba(0, 0, 0, .29);
    background-color: #f6f7f9;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #bec2c9;
    font-size: 12px;
    line-height: 36px;
    font-family: sans-serif;
    font-weight: 700;
    -webkit-appearance: none;
    padding: 0 8px;
    margin-top: 0;
    background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    position: relative;
    left: -5px
}

.send-comments--submit--active {
    color: #FFF;
    background: #5b93fc;
    cursor: pointer
}

.comments__item__meta {
    font-size: 11px;
    line-height: 14px;
    margin-top: px
}

.comments__item__meta__item {
    display: inline-block;
    color: #9197a3;
    position: relative;
    margin-left: -3px
}

.comments__item__meta__item:first-child::before,
.comments__item__meta__item:last-child::after {
    display: none
}

.comments__item__meta__item:first-child {
    padding-left: 0;
    margin-left: 0
}

.comments__item__meta__item a {
    color: #8190b0
}

.comments__item__meta__item__like_count .ico {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 1px;
    vertical-align: top
}

.clearfix,
.clearfix:after,
.cta,
.header a.item,
.logo {
    display: block
}

.comments__item__meta__item::after {
    content: '\a0\b7\a0'
}

.message_active td {
    background-color: #fdf9df
}

.photo_avatar img {
    width: 40px;
    border-radius: 50%
}

td {
    background-color: transparent;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

hr {
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 0;
    background: 0;
    border-bottom: 1px #dadde1 solid
}

.header a.item {
    float: left;
    background: 0;
    width: 16.66666%;
    height: 45px;
    padding: 0;
    margin: 0
}

.header a.item span {
    background-position: center top;
    display: block;
    width: 60px;
    height: 45px;
    margin: 0 auto
}

.header a.item:first-child {
    background-color: #243c6d
}

.header a.item:nth-child(2) span {
    background-position: center 249px
}

.header a.item:nth-child(3) span {
    background-position: center 199px
}

.header a.item:nth-child(4) span {
    background-position: center 149px
}

.header a.item:nth-child(5) span {
    background-position: center 99px
}

.header a.item:nth-child(6) span {
    background-position: center 49px
}

ol,
ul {
    list-style: none
}

.clearfix:after {
    content: " ";
    height: 0;
    clear: both;
    visibility: hidden
}

.txt {
    padding: 5px 6px;
    line-height: 18px
}

.bottom {
    width: 92%;
    margin: 20px auto 0;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.now {
    padding-top: 5px
}

.rules {
    color: #1b316c;
    padding: 4px 5px;
    line-height: 22px
}

.cta {
    background-color: #39579a;
    padding: 10px 0;
    color: #fff;
    font-size: 1.6em;
    border-bottom: 1px solid #1b316c;
    margin: 7px 13px 5px
}

.show-all {
    display: none
}

.now2 {
    padding-top: 10px
}

.terms {
    font-size: 11px;
    color: #666;
    padding: 4px;
    display: block;
    margin-top: 4px;
    text-align: justify
}

hr {
    margin: 0 5px
}

.button {
    cursor: pointer
}

.finlink-img {
    max-width:190px;
}
.fbimg1 {
    max-width:130px;
}
@media (max-width: 330px) {
    .finlink-img {
        max-width:130px;
    }
    
}