
*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit; font-weight: inherit !important; }

html { font-size: 62.5%; overflow-x: hidden; }

body { font-family: Montserrat, sans-serif; font-weight: 400 !important; box-sizing: border-box; }

a{ text-decoration: none !important; }

p{ font-size: 2rem; }

.h2-heading{ font-size: 5rem; font-weight: 600 !important; }
.paragraph{ font-size: 2rem; line-height: 3.4rem; 
  &.small{ font-size: 1.8rem; line-height: 3rem; }
  &.dark{ color: #8c8c8c; }
  @media (max-width: 767.98px) {
    font-size: 1.6rem;
  }
}
.light{ color: $text-color-light; }

.h3-heading{ font-size: 2.4rem; 
  &.dark{ color: #010101; }
}

.section-header{
    text-align: center;
    p{ width: 60%; margin: 2.4rem auto 0 auto; font-weight: 500 !important; }
    @media (max-width: 767.98px) {
      .h2-heading{ font-size: 4rem; }
      p{ width: 80%; }
    }
}

.dot{ color: $primary-color; font-size: inherit; display: inline-block; }


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {

    padding-right: 0;
    padding-left: 0;

    @media (min-width: 991.98px) {
      &:not(:first-child):not(:last-child) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }

      &:first-child {
        padding-right: 1.5rem;
      }

      &:last-child {
        padding-left: 1.5rem;
      }
    }

  }
}
