$primary-color: #fc3f0c;
$text-color-light: #ffffff;

$padding: 15rem;

$bg-color-1: #1f1e2c;
$color-gray: #676767;
$white-color: white;
$text-color-dark: #747285;

$header-nav-padding: 2.1rem;

$paragraph-color: #676575;
$main-color: #7626fb;
